@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js");

html { font-family: sans-serif; background: #ffffff; padding: 1rem; } /*big screen background*/
body { max-width: 750px; margin: auto; background: rgb(250, 250, 250);}
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
/*hr { border: none; border-top: 1px solid rgb(20, 20, 20); } /* edit form bottom line*/
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; } /*flaskr header*/
nav h1 { flex: auto; margin: 0; }
nav h1 a {text-decoration:none; padding: 0.25rem 0.5rem;}
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 0rem; }
.content > header { border-bottom: 1px solid rgb(255, 9, 9); display: flex; align-items: flex-end; } /*underline edit "post name"*/
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #f6dcca; border: 1px solid #377ba8; text-align: center; } /*User already registerd! - flash message*/
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style:italic  ; } /* the line "by username on date"*/
.post .body {white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    text-align: center;
}

.content label { font-weight:bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em;
font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 5px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px; }
.content textarea { min-height: 12em; resize:vertical;}
input.danger { color: #cc2f2e; }

input[type=submit] { font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer; 
}