<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand">Flaskr</h1>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto">
        <ul>
          {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}" class="nav-item nav-link">Log Out</a>
          {% else %}
            <li><a href="{{ url_for('auth.register') }}" class="nav-item nav-link">Register</a>
            <li><a href="{{ url_for('auth.login') }}" class="nav-item nav-link">Log In</a>
          {% endif %}
        </ul>
      </div>
    </div>  
  </div>
</nav>
<div class="container">
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</div>
